<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css?h=10a8bae392ff9760c1677deb1e3cbb17">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="assets/css/styles.min.css?h=30e6cef9d98026d0d09320c31922d31e">
</head>

<body id="page-top" onload="setUpHomeEvents()">
    <header class="d-flex masthead" style="background-image:url('assets/img/bg-masthead.jpg?h=c6246dd736889aa3be373dc43f71e01e');">
        <div class="container my-auto text-center">
            <h1 class="mb-1">Collaborite</h1>
            <h3 class="mb-5"><em>Select a category to contribute to</em></h3>
            <div class="overlay">
                <div class="card-group">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Songs / Poems</h4>
                            <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                            <button id="songs" class="btn btn-primary projectButton" type="button">Search Songs / Poems</button></div>
                    </div>
                    <div class="card" style="margin-right: 2vw;margin-left: 2vw;">
                        <div class="card-body">
                            <h4 class="card-title">Short Stories</h4>
                            <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                            <button id="short" class="btn btn-primary projectButton" type="button">Search Short Stories</button></div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Novels</h4>
                            <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                            <button id="novel" class="btn btn-primary projectButton" type="button" >Search Novels</button></div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section id="about" class="content-section bg-light" style="height: 250px;">
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <h2>What is Collaborite?</h2>
                    <p class="lead mb-5"><span>Collaborite is a site where you can collaborate&nbsp;<br>with other writers&nbsp;on writing projects&nbsp;</span></p>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer text-center">
        <div class="container">
            <ul class="list-inline mb-5">
                <li class="list-inline-item">&nbsp;<a class="text-white social-link rounded-circle" href="#"><i class="icon-social-facebook"></i></a></li>
                <li class="list-inline-item">&nbsp;<a class="text-white social-link rounded-circle" href="#"><i class="icon-social-twitter"></i></a></li>
                <li class="list-inline-item">&nbsp;<a class="text-white social-link rounded-circle" href="#"><i class="icon-social-github"></i></a></li>
            </ul>
            <p class="text-muted mb-0 small">Copyright &nbsp;© Collaborite 2018</p>
        </div><a href="#page-top" class="js-scroll-trigger scroll-to-top rounded"><i class="fa fa-angle-up"></i></a></footer>
    <script src="assets/js/jquery.min.js?h=1dd785e1de9a32e236b624ae268bb803"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js?h=2394c9ffd5558f411ffdc3326e9a8962"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="assets/js/script.min.js?h=8fd15b1d5c5eb3304a907766703c8f7b"></script>
    <script type="text/javascript" src="/javascripts/homeEvents.js"></script>
</body>

</html>