<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Collaborite</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css?h=10a8bae392ff9760c1677deb1e3cbb17">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="assets/css/styles.min.css?h=30e6cef9d98026d0d09320c31922d31e">
</head>

<body>
    <header style="background-image: url('assets/img/bg-masthead.jpg?h=c6246dd736889aa3be373dc43f71e01e');">
        <div class="container my-auto text-center" style="/*background-image: url('assets/img/bg-masthead.jpg?h=c6246dd736889aa3be373dc43f71e01e');*/height: 191px;">
            <h1 class="mb-1 logo">Collaborite</h1>
            <div class="overlay">
                <h1 id="categoryTitle"><%= type %></h1>
            </div>
        </div>
    </header>
    <section>
        <div class="container"><button class="btn btn-primary" type="button" id="projectButton">Start a project</button></div>
    </section>
    <section style="margin-top: 75px;">
        <div>
            <h1 style="width: 65%;display: inline-block;">Current Projects</h1><input type="search" id="projectSearch"><button class="btn btn-primary" type="button" id="searchButton">Search Projects</button>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th id="projectTitle">Title</th>
                            <th id="projectDescription">Description</th>
                            <th id="projectWordCount">Current Word Count</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Cell 1</td>
                            <td>Cell 2</td>
                        </tr>
                        <tr>
                            <td>Cell 3</td>
                            <td>Cell 4</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <script src="assets/js/jquery.min.js?h=1dd785e1de9a32e236b624ae268bb803"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js?h=2394c9ffd5558f411ffdc3326e9a8962"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="assets/js/script.min.js?h=8fd15b1d5c5eb3304a907766703c8f7b"></script>
</body>

</html>